$main_text: Montserrat, sans-serif;
$main_text_color: #FFF;
$background_color: #0E0E0E;
$accent_color: #DC56C5;
$secondary_color: #0E0E0E;
$button_color: #4C00FE;
$search_text_color: #939393;
$search-bg-color: rgba(255, 255, 255, 0.2);