@import '../utilities/variables';

.events-list {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 128px 128px;
    grid-template-rows: auto;
    column-gap: 14px;
    justify-content: center;
    row-gap: 50px;

    .event {
        &_img {
            width: 100%;
            height: 161px;
            border-radius: 50px 0px;
            object-fit: cover;
            display: block;
            margin-bottom: 5px;
        }


        &_thumb {
            position: relative;

            &::after {
                z-index: -1;
                position: absolute;
                content: '';
                top: -9px;
                right: -10px;
                width: 109px;
                height: 101px;
                border-radius: 50px 0px;
                border: 1px solid rgba(220, 86, 197, 0.3);
            }
        }

        &_name {
            color: $accent_color;
            text-align: center;
            margin-bottom: 5px;
        }

        &_date {
            color: $main_text_color;
            font-weight: 400;
            text-align: center;
            margin-bottom: 5px;
        }

        &_location {
            color: $main_text_color;
            font-size: 12px;
            font-weight: 600;
            text-align: center;

            &::before {
                content: url(../images/icon-location.svg);
                width: 7px;
                height: 9px;
                fill: $main_text_color;
                margin-right: 3px;

                @media screen and (min-width: 768px) {
                    width: 12px;
                    height: 14px;
                }
            }

        }

    }

    @media screen and (min-width: 768px) {
        grid-template-columns: 180px 180px 180px;
        column-gap: 27px;
        row-gap: 58px;

        .event_img {
            height: 227px;
        }

        .event_thumb::after {
            top: -13px;
            right: -14px;
            width: 153px;
            height: 143px;
        }
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 180px);
        column-gap: 70px;
        row-gap: 63px;
    }
}

.load-more-btn {
    display: block;
    margin: 0 auto 60px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    color: $main_text_color;
    background-color: transparent;
    border-color: $main_text_color;
    border-radius: 10px 0px;
    border-width: 1px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent_color;
        border-color: $accent_color;
        box-shadow: 0px 0px 10px 3px $accent_color;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 80px;
    }

}